@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap');

 *body {
     background-color: black;
 }

.head {
    background-image: url(../backgrounds/h_img.jpg);
    padding: 400px;
    margin: 0;
  align-content: center;
   
}
.services {
    background-image: url(../backgrounds/c_img.JPG);
    padding: 400px;
}

.contact_us {
    background-image: url(../backgrounds/s_img.jpg);
    padding: 400px;
}
/* the 2 dots on the url represent the root for where to locate the image in the fold. display: flex;
    justify-content: center;*/