@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap');

*{
    padding: 0 bold;
    margin: 0 bold;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Montserrat', sans-serif; 
}

body{
    background: #585c68;
    font-size: 14px;
    line-height: 22px;
    color: #555555;
}

 
.head {
    background-image: url(./backgrounds/h_img.jpg);
    padding: 400px;
    
   
}
.services {
    background-image: url(./backgrounds/c_img.jpg);
    padding: 400px;
}

.contact_us {
    background-image: url(./backgrounds/s_img.jpg);
    padding: 400px;
}
/* the one .(dot) on the url represent the root for where to locate the image in the folder. display: flex;
    justify-content: center;*/