@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

*{
    padding: 0 bold;
    margin: 0 bold;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Montserrat', sans-serif; 
}

* {
    box-sizing: border-box;
  }

 
.head {
    background-image: url(./backgrounds/h_img.jpg);
    padding: 350px;
    margin-bottom: 50px;
       
}

.head .content {
    position: relative; /* Position the background text */
    color: #f1f1f1; /* Grey text */
    font-weight: bolder;
    width: 100%; /* Full width */
    padding: 20px; /* Some padding */
    text-align: center;
    

}

.about_us {
    text-align-last: center;
    margin-bottom: 50px;
  
}


.services {
    background-image: url(./backgrounds/s_img.jpg);
    padding: 100px;
    margin-bottom: 50px;
}

.services .content{
    position: relative; /* Position the background text */
    color: #f1f1f1; /* Grey text */
    font-weight: bolder;
    width: 100%; /* Full width */
    padding: 20px; /* Some padding */ 
    text-align: center;
    margin-bottom: 50px;
    
}
.whatWeDo{
    text-align-last: center;
    
}

.whatWeDo #design, #dev, #Product {
    float: left;
    width: 33.33%; /*100/3=33.33% */
    padding: 5px;
    margin-bottom: 50px;
   
  }
  
  /* Clearfix (clear floats) */
  .whatWeDo::after {
    content: "";
    clear: both;
    display: table;
    align-content: center;
  }

  #designW, #devW, #productW {
      display: none;

  }

.portfolio{
    text-align-last: center;
}

.portfolio .row .column {
    float: left;
    width: 25%; /*100/4=25% */
    padding: 10px;
    margin-bottom: 50px;

  }
  
  /* Clearfix (clear floats) */
  .portfolio .row::after {
    content: "";
    clear: both;
    display: table;
    align-content: center;
    
  }
  
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 500px) {
    .column {
      width: 100%;
    }
}
.contact_us {
    background-image: url(./backgrounds/c_img.jpg);
    padding: 250px;
    margin-bottom: 50px;
    
}
/* the one .(dot) on the url represent the root for where to locate the image in the folder. display: flex;
    justify-content: center;*/

.contact_us .email{
    float: right;
}

.contact_us .content{
    position: relative; /* Position the background text */
    color: #f1f1f1; /* Grey text */
    font-weight: bolder;
    width: 100%; /* Full width */
    padding: 20px; /* Some padding */
    text-align: center;
    
}

.social{
    align-content: center;

}